mixin faicon(icon)
    i(class=['fa', icon])

mixin ulli(pages)
    if pages && pages.length
        ul
            each p in pages
                li(class=[page.url == p.url ? 'active' : inpath(p.url) ? 'inpathof-active' : ''])
                    a(href=relative(p.url))= p.title
                    if inpath(p.url)
                        block

mixin menu(level)
    - var pages = navigation[level]
    +ulli(pages)
        if level < navigation.length
            +menu(level + 1)

doctype
html
    head
        meta(charset='utf-8')
        title=page.title + " | " + title
        link(rel="stylesheet", type="text/css", href=relative('htmldoc.css'), charset='utf-8')

    body.htmldoc
        nav
            h2
                a(href=relative(root.url))= title
                a(href=relative('htmldoc.tgz')).downloadlink
                    +faicon('fa-download')

            +menu(0)
        
        section.content
            if siblings && siblings.length
                nav.pages
                    +ulli(siblings)

            article
                != content

    script(type="text/javascript", src=relative('htmldoc.js'), charset='utf-8')
    if scripts
        each script in scripts
            script(type="text/javascript")
                != script

    script.
        require('htmldoc').standalone();
