//
// mixin that displays all information about a field
//
// @param name The name of the field
// @param properties A list of all properties of the field
//
mixin fieldBox(name, properties)
    h4=name

    div
        table.fieldbox
            thead
                tr
                    td Field
                    td Type
                    td Description
            tbody
                for property in properties
                    tr
                        td=property.field
                        td=property.type
                        td=property.description

//
// mixin for a list of fields
//
// @param title The title for the list
// @param fields A list of all fields
//
mixin fieldList(title, fields)
    h3=title
    each properties, name in fields
        +fieldBox(name, properties)


//
// mixin that displays all information about response example
//
// @param example The response example
//
mixin responseExample(example)
    div
        h4=example.title
        code=example.content

//
// mixin for a list of example responses
//
// @param title The title for the list
// @param responses A list of all examples
//
mixin responseExamplesList(title, examples)
    h3=title
    each example in examples
        +responseExample(example)

//
// mixin for a rest route
//
// @param route The rest route
//
mixin restRouteDocumentation(route)
    li
        h2='(' + route.type + ') ' + route.title
        div
            h3 Url
            =route.url

            if route.parameter
                if route.parameter.fields
                    +fieldList('Parameters', route.parameter.fields)

            if route.success
                if route.success.fields
                    +fieldList('Success Responses', route.success.fields)

                if route.success.examples
                    +responseExamplesList('Success Response Examples', route.success.examples)

            if route.error
                if route.error.fields
                    +fieldList('Error Responses', route.error.fields)

                if route.error.examples
                    +responseExamplesList('Error Response Examples', route.error.examples)

//
// mixin for the list of rest routes
//
// @param routes The list of rest routes
//
mixin restRouteList(routes)
    if routes && routes.length
        ul
            each route in routes
                - if (route.type != '') {
                    +restRouteDocumentation(route)
                - }


//
// the actual document
//
div.restapi
    h2 Documentation Entries
    +restRouteList(data)
